.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
.badge-more {
  margin-left: 3px;
  border: 2px solid tomato;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: tomato;
  /* font-weight: 600; */
}
