.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}

@keyframes rotateCog {
  0% {
    transform: none;
  }
  50% {
    transform: rotateZ(360deg);
    font-size: 200%;
  }
  100% {
    transform: none;
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 0.5s ease-in-out infinite;
}
